[submodule "src/hri_bringup"]
	path = src/hri_bringup
	url = https://github.com/roboav8r/hri_bringup.git
[submodule "src/leg_tracker"]
	path = src/leg_tracker
	url = https://github.com/roboav8r/leg_tracker.git
[submodule "src/ros_multiobject_tracking"]
	path = src/ros_multiobject_tracking
	url = https://github.com/roboav8r/ros_multiobject_tracking.git
